body  {
    background-image: url("../images/star-wars-page-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
} 

.img-vk {
    height: 75px;
    width: 75px;
}

.text-sm-vk {
    font-size: 50%;
}

.empty-box {
    float: left;
    width: 100px;
    height: 120px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.player-ui {
    background-color: green;
    /* border-color: green; */
    /* border-style: double; */
}

.defender-ui {
    background-color: red;
}